*{
  margin: 0px;
  padding: 0%;
  width: 100%;
}
/* welcome css */
.welcome {
  display: flex;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
  margin-top: 5rem;
  height: 75rem;
  margin-bottom: 5rem;
  background-color: #f6c641;
}

.welcome .title-v2 {
  align-items: right;
  padding-left: 2rem;
  /* margin-left: 12rem; */
  font-size: 1.8rem;
  font-weight: 100px;
  color: #000000;
}