
*{ margin: 0; padding: 0; box-sizing: border-box;}
.footer-v1 .footer {
	padding: 40px 0;	
	background: linear-gradient(to Top, #dbb311, #FF8C00);
}

.footer-v1 .footer p {
	color: #eee;
}

.footer-v1 .footer h2 {
	color: #eee;
	font-size: 18px;
	font-weight: 200;
}

/*Link List*/
.footer-v1 .link-list li {
	border-top: solid 1px #353535;
}

.footer-v1 address,
.footer-v1 .link-list a,
.footer-v1 .link-list i {
	color: #eee;
}

.footer-v1 address {
	line-height: 23px;
}

.col-md-3 .headline {
	color: #eee;

}
.col-md-3 .list-unstyled-latest-list {
	color: #eee;


}
.col-md-6 {
	color: #141313;
}

.news-v1-in{
	color: #000000;
}


.footer-v1 .copyright {
	background-color: #FF8C00;
	border-top: none;
	padding: 10px 0 5px;
}

.footer-v1 .copyright p {
	color: #eee;
	margin-top: 14px;
}

.footer-v1 .copyright a {
	margin: 0 2px;
}

.footer-v1 .footer-socials {
	margin-top: 12px;
	text-align: right;
}

.footer-v1 .footer-socials a {
	color: #ffffff;
	font-size: 16px;
	margin-left: 17px;
}

@media (max-width: 991px) {
	.footer-v1 .copyright,
	.footer-v1 .footer-socials {
		text-align: left;
	}
}

.col-md-6 a{
	color: #dbcece;
	font-size: 17px;
	text-decoration:none;

}

.navbar-toggler li {
	color: #ffffff;
	text-decoration:none;

}

.nav-item a{
	text-decoration:none;
}

.col-md-3 p a{
	text-decoration:none;
	color: #9d9d9d;
}



/* log in */